<h1>Overview of the task</h1>
<h2><%= @tasks.title%></h2>
<p><%= @tasks.details%></p>
<p><%= @tasks.completed%></p>
<p><%= link_to "Back to list", tasks_path %></p>
<%= link_to "Edit", edit_task_path(@tasks) %> <i class="fa-solid fa-pencil"></i>
